[submodule "DriverM"]
	path = DriverM
	url = https://github.com/maugust17/DriverM.git
[submodule "driverG"]
	path = driverG
	url = https://github.com/germetica/subModuloClase4Gerardo.git
[submodule "driverMatias"]
	path = driverMatias
	url = https://github.com/matiasne/submoduloClase4.git 
[submodule "rack"]
	path = rack
	url = git://github.com/chneukirchen/rack.git